body {
  background: url("../images/train.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.bkg {
  background-color: rgba(218, 209, 209, 0.577);
}
.bkg2 {
  background-color: rgba(218, 209, 209, 0.714);
}
.header {
  background-color: rgba(250, 250, 250, 0.74);
}
